@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body {
    margin-top: 2%;
    font-family: 'DM Sans', sans-serif;
}
.logo {
    
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    h1 {
        line-height: 105%;
        width: 80rem;
        text-align: center;
        font-size: 67px;
        
    }
    img {
        width: 700px;
        height: 700px;
        margin-top: -4rem;
        margin-bottom: -4rem;
    }
    p {
        line-height: 23px;
        width: 30rem;
        height: 46px; 
        text-align: center;
        font-size: 18px;
    }
    a {
        text-decoration: underline;
        color: #ff8701 ;
    }
    
}
@media screen and (max-width: 600px){
    .hero {
        h1 {
            line-height: 105%;
            width: 90%;
            text-align: center;
            font-size: 30px;
        }
        img {
            width: 450px;
            height: 445px;
        }
        p {
            line-height: 23px;
            width: 100%;
            height: 46px; 
           
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 1200px){
    .hero {
        h1 {
            line-height: 105%;
            width: 90%;
            font-size: 45px;
        }
        img {
            width: 500px;
            height: 500px;
        }
        p {
            line-height: 23px;
            width: 60%;
            height: 46px; 
            font-size: 18px;
        }
    }
}